*{
    padding:0;
    margin:0;
}
ion-toolbar{
  color: #fff;
  font-family: FangSong;
  letter-spacing: 5px;
}
  ul{
    list-style: none;
  }
  li{
    float: left;
    height: 20%;
    width: 21%;
    margin-left: 1.95%;
    margin-right:2%;
    margin-top: 10%;
  }
  ion-content{
    padding: 0%;
  }